@import './fonts';
@import './variables';

@mixin tablet {
    @media (min-width: 48rem) {
        @content
    }
}

@mixin mid-desktop {
    @media (min-width: 48.0625rem) {
        @content
    }
}

@mixin laptop-small {
    @media (min-width: 64rem) {
        @content
    }
}

@mixin desktop {
    @media (min-width: 90rem) {
        @content

    }
}

@mixin hero-header {
    font-family: $font-stack-bold;
    font-size: 3.75rem;
    line-height: 4.25rem;
}

@mixin h1-header {
    font-family: $font-stack-bold;
    font-size: 1.5rem;
    line-height: 2rem;

    @include tablet {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

@mixin label {
    font-family: $font-stack-demi;
    color: $color-silver;
    font-size: 12px;
    line-height: 1.25rem;
    text-transform: uppercase;
}

@mixin padding-sides {
    padding-left: 1rem;
    padding-right: 1rem;

        @include tablet {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        @include desktop {
            padding-left: 0;
            padding-right: 0;
        }
}

@mixin padding-desktop {
    padding-left: 11.25rem;
    padding-right: 11.25rem;
}

@mixin user-avatar {
    height: 3rem;
    width: 3rem;
    border: 0;
    border-radius: 50%;
    background: url('../../assets/images/Mohan-muruge.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin commenter-name {
    font-family: $font-stack-demi;
    font-size: 13px;
    line-height: 1.125rem;

    @include tablet {
        font-size: 14px;
        line-height: 1.375rem;
    }
}