@import '../../styles/master';

.header {

    @include tablet {
        height: 5rem;
        display: flex;
        align-items: center;
    }

    @include mid-desktop {
        justify-content: space-between;
    }

    @include desktop {
        justify-content: flex-start;
        margin-left: 11.25rem;
        margin-right: 11.25rem;
    }

    &__logo--container {
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            margin-right: 10.5625rem;
        }

        @include desktop {
            margin-right: 31.8125rem;
        }
    }

    &__searchbar {
        height: 3rem;
        display: flex;
        background: $color-alabaster; 
        border: 1px solid $color-mercury;
        border-radius: 4px;

        @include tablet {
            width: 100%;
        }
        
        &--button {
            width: 3rem;
            padding: 0;
            border: 0;
            background: url('../../assets/icons/SVG/Icon-search.svg');
            background-repeat: no-repeat;
            background-position: center;
        }

        &--input {
            font-size: 14px;
            width: 100%;
            background: $color-alabaster;
            border: 0;
            border-radius: 4px;
        }
    }

    &__upload {
        display: flex;
        justify-content: center;
        margin-top: 8px;
        margin-bottom: 1rem;

        & > a {
            text-decoration: none;
        }
        
        @include tablet {
            width: auto;
            margin: 0;
        }

        &--button {
            width: 13.875rem;
            height: 3rem;
            padding: 0 1rem;
            background: $color-brainflix-blue;
            color: $color-white;
            border: 0;
            border-radius: 4px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;

            > img {
                margin-right: 8px;
            }

            @include tablet {
                width: auto;
                margin: 0 1.5rem;
            }
        }
    }
}

.user-avatar {
    @include user-avatar;
    margin-left: 1rem;

    @include tablet {
        margin: 0;
    }
}