@import '../../styles/master';

.comment {
    display: flex;


    &__userpic {
        width: 2.5rem;
        height: 2.5rem;

        &--container {
           padding-right: 1rem;
        }
    }

    &__comment {
        @include tablet {
            width: 39rem;
        }

        @include laptop-small {
            width: 90%;
        }
    }

    &__name-date {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            justify-content: flex-start;
        }

        &--name {
            margin-top: 0;
            margin-right: 1rem;
        }

        &--date {
            margin-top: 0;
        }
    }
}

#comment-avatar {
    margin-left: 0;
    background: $color-mercury;
}

#line-comments-section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}