// contains global variables, fonts and mixins

// VVV default fonts are here VVV

// @font-face {
//     font-family: 'AvenirNextProLT';
//     src:    url('../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf') format('opentype'),
//             url('../assets/fonts/AvenirNextProLT/Alternative-files/Avenir-Next-LT-Pro.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'AvenirNextProLT-demi';
//     src:    url('../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf') format('opentype'),
//             url('../assets/fonts/AvenirNextProLT/Alternative-files/Avenir-Next-LT-Pro-Demi.ttf') format('truetype');
// }
// @font-face {
//     font-family: 'AvenirNextProLT-bold';
//     src:    url('../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf') format('opentype'),
//             url('../assets/fonts/AvenirNextProLT/Alternative-files/Avenir-Next-LT-Pro-Bold.ttf') format('truetype');
// }

