// contains global variables, fonts and mixins

// VVV default fonts are here, links are written to reference fonts from the locations of components scss files VVV

@font-face {
    font-family: 'AvenirNextProLT';
    src:    url('../../assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype'),
            url('../../assets/fonts/alternative-files/AvenirNextLTPro.ttf') format('truetype');
}
@font-face {
    font-family: 'AvenirNextProLT-demi';
    src:    url('../../assets/fonts/AvenirNextLTPro-Demi.otf') format('opentype'),
            url('../../assets/fonts/alternative-files/AvenirNextLTPro-Demi.ttf') format('truetype');
}
@font-face {
    font-family: 'AvenirNextProLT-bold';
    src:    url('../../assets/fonts/AvenirNextLTPro-Bold.otf') format('opentype'),
            url('../../assets/fonts/alternative-files/AvenirNextLTPro-Bold.ttf') format('truetype');
}