@import './fonts';

$color-black: #323232;
$color-brainflix-blue: #0095FF;
$color-white: #FFF;
$color-silver: #AFAFAF;
$color-brainflix-blue-dark: #0065AD;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;

$font-stack: 'AvenirNextProLT', 'Roboto';
$font-stack-demi: 'AvenirNextProLT-demi', 'Roboto-demi';
$font-stack-bold: 'AvenirNextProLT-bold', 'Roboto-bold';