@import '../../styles/master';

.comment-form {
    margin-left: 1.5rem;
    width: 100%;

    @include tablet {
        margin-left: 1rem;
    }

    & > h5 {
        margin: 0;
    }

    &__inputs {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }

                &--button {
            background-color: $color-brainflix-blue;
            border-radius: 4px;
            @include label;
            color: $color-alabaster;
            line-height: 2.7rem;
            
            @include tablet {
                line-height: 1.7rem;
                width: 10rem;
                margin-right: 2.5rem;
            }

            @include desktop {
                width: 12rem;
                margin-right: 1rem;
            }
        }

        &--input-box {
            border: 1px solid $color-mercury;
            background-color: $color-alabaster;
            border-radius: 4px;
            outline: none;
            line-height: 2rem;
            padding-left: 1rem;
            margin-bottom: 1rem;
            resize: none;

            &:focus {
                border: 2px solid $color-brainflix-blue;
            }

            &::-webkit-input-placeholder {
                font-size: 13px;
              }

              @include tablet {
                  margin-bottom: 0;
                  line-height: 1rem;
                  padding-top: 1rem;
                  margin-right: 1rem;
                  width: 100%;

                  @include laptop-small {
                      width: 100%;
                  }
              }
        }
    }
}

.form-container {
    display: flex;
}

#user-avatar-comments {
    margin-left: 0;
    margin-top: 1rem;

    @include tablet {
        margin-top: 1.47rem;
    }
}

.comments-count {
    margin-top: 2.5rem;
    margin-bottom: 2rem;

    @include tablet {
        margin-top: 4rem;
    }
}